# Core ML / DL
torch
numpy
scikit-learn


# Utilities
joblib
pandas
matplotlib
seaborn
tqdm
requests
pyyaml
psutil
packaging
filelock
fsspec
typing-extensions

# Jupyter (for experiments / notebooks)
notebook
jupyterlab
ipykernel
